################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/HttpLibDemo/bin/Debug
/HttpLibDemo/bin/Release
/HttpLibDemo/obj
/src/HttpLib/bin/Debug
/src/HttpLib/bin/Release
/src/HttpLib/obj
/src/HttpLib/HttpLib.xml
